body{
    width: 100%;
    height: 200%;
}
.divmain{
    background:transparent;
    margin-top: 0px;
    width: 100%;
    height: 100px;
}

a {
    margin-top: 30px;
    padding:15px;
    font-size: 20px;
    color: #737370; /*#1E33F7*/
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #0066FF;
}

a:hover {
    text-decoration: none;
    color: #040404; /*颜色变换*/
}

a:active {
    text-decoration: none;
    color: #0066FF;
}
#btn{
    margin-top: 50px;
    padding-left: 600px;
    float: left;
    margin-left: 100px;
}

#img-tit{
    background: transparent;
    margin-top: 15px;
    margin-left: 10%;
    float: left;
}
#divmenu {
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #b4d76d;
    background: #f8f8f5;
    text-align: center;
    padding: 0px 0px 10px 0px;
    font-size: 30px;
}

#divmenu a {
    font-size: 14px;
    color: #52736b; /*#1E33F7*/
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

#divmenu a:link {
    text-decoration: none;
    font-weight: bold;
}

#divmenu a:visited {
    text-decoration: none;
    color: #52736b;
    font-weight: bold;
}

#divmenu a:hover {
    text-decoration: none;
    color: #040404; /*颜色变换*/
    font-weight: bold;
}

#divmenu a:active {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
#box_autoplay {
    position:relative;
    width:900px;
    height:335px;
    background:#fff;
    border-radius:5px;
    border:8px solid #fff;
    margin:10px auto;
    cursor:pointer;
}
#box_autoplay .list {
    position:relative;
    width:900px;
    height:335px;
    overflow:hidden;
}
#box_autoplay .list ul {
    position:absolute;
    top:0;
    left:0;
}
#box_autoplay .list li {
    width:900px;
    height:335px;
    overflow:hidden;
}
#box_autoplay .count {
    position:absolute;
    right:0;
    bottom:5px;
}
#box_autoplay .count li {
    color:#fff;
    float:left;
    width:20px;
    height:20px;
    cursor:pointer;
    margin-right:5px;
    overflow:hidden;
    background:#F90;
    opacity:0.7;
    filter:alpha(opacity=70);
    border-radius:20px;
}
#box_autoplay .count li.current {
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100);
    font-weight:700;
    background:#f60;
}


body, div, ul, li {
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
}

#box_autoplay {
    margin-top: 2%;
    text-align:center;
    font:12px/20px Arial;
    position:relative;
    width:900px;
    height:335px;
    background:#fff;
    border-radius:5px;
    border:8px solid #fff;
    margin:10px auto;
    cursor:pointer;
}
#box_autoplay .list {
    position:relative;
    width:900px;
    height:335px;
    overflow:hidden;
}
#box_autoplay .list ul {
    position:absolute;
    top:0;
    left:0;
}
#box_autoplay .list li {
    width:900px;
    height:335px;
    overflow:hidden;
}

#box_autoplay .count li {
    color:#fff;
    float:left;
    width:20px;
    height:20px;
    cursor:pointer;
    margin-right:5px;
    overflow:hidden;
    background:#F90;
    opacity:0.7;
    filter:alpha(opacity=70);
    border-radius:20px;
}
.row{
    text-align: center;
    color: #909090;
}
.mydiv{
    margin-top: 20px;
    width:250px;

    height:auto;

    border:#909090 1px solid;

    background:#fff;

    color:#333;

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);

    -moz-box-shadow: 2px 2px 10px #909090;

    -webkit-box-shadow: 2px 2px 10px #909090;

    box-shadow:2px 2px 10px #909090;
}

